{% extends "base.html"%}  
{% block content %}   
<h1 class ="text-center"> Formation Flask avec Python</h1>
<p class ="lead"> Programmes :</p> 
<p class ="lead"> -	Créer un serveur web avec Flask</p>
<p class ="lead"> -	Utiliser le moteur de template Jinja2 de Flask</p>
<p class ="lead"> - Comment créer des applications web basées sur Python Flask</p>
<p class ="lead"> -	Ajoutez des styles CSS simples à votre application à l’aide de flask-Bootstrap</p>
<p class ="lead"> -	Comment créer et utiliser des formulaires HTML avec votre application Flask</p>

{% endblock content %}