{% extends "base.html"%}  
{% block content %}   
<h1 class ="text-center"> Developpement Application Web </h1>
{% if tasks %}
<div>
<table class="table">
    <thead>
        <tr>
            <th>Tache</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>

    </thead>
<tbody>
    {% for task in tasks %}
    <tr>
      <th><a href="/update/{{task.id}}/">{{ task.name }}</a></th>
      <th>{{ task.created_at.date() }}</th>
      <th>
        <a href="/delete/{{task.id}}/" class="btn btn-danger">Supprimer</a>
      </th>
    </tr>
    {% endfor %}
</tbody>
</table>
{% else %}
<p>Pas de choses à faire...</p>

{% endif %}
{% include "partials/_form.html" %}
</div>

{% endblock content %}
